<div>
  <md-toolbar>
    <div>
      <md-checkbox style="padding-right: 15px;" [(ngModel)]="readOnly">ReadOnly</md-checkbox>
      <button md-raised-button (click)="exportDate()">Export</button>
    </div>
  </md-toolbar>
</div>
<div id='graph' style=" height:100%; width:100%">
  <!--<app-graph-draw></app-graph-draw>-->
  <app-ngraph (onCreateNode)="onCreateNode($event)" (onUpdateNode)="onUpdateNode($event)" (onSelectNode)="onSelectNode($event)"
    (onSelectEdge)="onSelectEdge($event)" (onCreateEdge)="onCreateEdge($event)" (onSwapEdge)="onSwapEdge($event)" (onDeleteNode)="onDeleteNode($event)"
    (onDeleteEdge)="onDeleteEdge($event)" [nodeKey]="NODE_KEY" [selected]="selected" [nodes]="nodes" [edges]="edges" [readOnly]="readOnly"></app-ngraph>
</div>
