/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* @import "https://fonts.googleapis.com/icon?family=Material+Icons"; */
@import '~font-awesome/css/font-awesome.css';

html, body{
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  user-select: none;
  overflow: hidden;
}
