.wrapper{
    height: 100%;
    margin: 0px;
    display: flex;
    box-shadow: none;
    opacity: 1;
    background: rgb(249, 249, 249);
}
svg{
  align-content: stretch;
  flex: 1;
}
.node{
    color: #fff;
    stroke: dodgerblue;
    fill: #fff;
    filter: url(#dropshadow);
    stroke-width: 1px;
    cursor: pointer;
}
shape{
  fill: inherit;
  stroke: dark;
  stroke-width: 0.5px;
}

.edge{
  color: #fff;
  stroke: dodgerblue;
  stroke-width: 2px;
  marker-end: url(#end-arrow);
  cursor: pointer;
}
